
@{
    ViewBag.Title = "GetRecentPurchases";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<h3 class="text-center"><b>Recent Purchases</b></h3>
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_RecentPurchases")
    </div>
    <div class="col-md-8">
    </div>
</div>