
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>FAQ</h2></center>
<h3>
    :( Still Under Construction. I am sure <a href="https://www.google.com/" target="_blank">Google</a> can be of help to you.
</h3>

