
@{
    ViewBag.Title = "Out Of Stock";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<head>
    <style>
        body {
            background-image: url('../../Content/Backgrounds/img (7).jpg');
        }
    </style>
</head>

<body>
    <br />
    <h4><b>@Html.ActionLink("Back To Cart", "GetCart", "Product")</b></h4>
    <hr />
    <center><img src="~/Content/Backgrounds/stockout_us_desktop.png"/></center>
</body>