
@{
    ViewBag.Title = "Message Sent";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<head>
    <style>
        body{
            background-color:blueviolet;
        }
    </style>
</head>
<body>
    <h4><b>@Html.ActionLink("Back to LogIn", "LogIn", "User", null, new { @style = "color:white;" })</b></h4>
    <br />
    <center><img src="~/Content/Backgrounds/email-257x300-1.png" /></center>
</body>

