
@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body {
            background-color:blueviolet;
        }
    </style>
</head>

<body>
    <br />
    <h4><b>@Html.ActionLink("Back To LogIn", "LogIn", "User")</b></h4>
    <hr />
</body>