@model EKartMVCApp.Models.Users

@{
    ViewBag.Title = "Reset Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Reset Your Password</title>
    <style>
        #btnChangePassword {
            color: white;
            background-color: crimson;
            height: 40px;
            border-radius: 13px;
            text-wrap: normal;
        }

        body {
            background-image: url('../../Content/Backgrounds/img (4).jpg');
        }

        #btnCancel {
            color: white;
            background-color: crimson;
            height: 40px;
            width: 100px;
            border-radius: 13px;
            text-wrap: normal;
        }

        #labels {
            color: white;
        }

        #labelHeading {
            color: white;
            border: double;
            font-family: 'Comic Sans MS';
        }
    </style>

</head>
<body>
    @{
        Html.BeginForm("ForgetPassword", "User");
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-9">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center col-lg-offset-1">
                                    @if (TempData["Password"] != null)
                                    {
                                        <div class="alert alert-success alert-dismissable">
                                            <strong>New Password is: @TempData["Password"]</strong>
                                        </div>
                                    }
                                    <h1 id="labelHeading">Reset Your Password</h1>
                                    &nbsp;
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" id="labels">
                                    Email ID:
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3 text-right">
                                </div>
                                <div class="col-md-7">
                                    <input type="submit" class="btn" value="Reset Password" id="btnChangePassword" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <h4><b>@Html.ActionLink("Back To LogIn", "LogIn", "User", null, new { @style = "color:#000aaa;" })</b></h4>
</body>

